.affixed {
    position:fixed;
}

.authorAvatar {
display:inline-block;
height:50px;
}
.authorAvatar img{
display: inline-block;
}
/*.authorAvatar a {
display: inline-block;	
vertical-align: top;
}*/
.authorAvatar span {
display: inline-block;
vertical-align: top;
}

.uoftBanner {
    background-image: url("/ui/uoft.jpg");
    background-size: cover;
    position:relative;
    height:300px;
}

.titleBanner {
    position:absolute;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    bottom: 0px;
    left: 25px;
}

.stats {
    position:absolute;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    bottom: 0px;
    right: 50px;
}

.stats h3, h4 {
    display: inline-block;
}